@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700');

body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 -0.01em 0 -0.01em;
    height: 100%;
    font-family:"Montserrat", sans-serif;
    text-decoration: none;
}

h1 {
    padding-left: 0.37em;
    text-align: center;
    font-weight: 200;
    font-size: 320%;
    margin-top: 1.6em;
}

h2 {
    padding-right: 0.67em;
    text-align: center;
    font-weight: 200;
    margin: -0.5em 0 4em;
    word-spacing: 0.3em;
}

nav {
    display: inline;
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 130%;
    padding: 2em;
    margin-right: 2em;
}

nav ul li a{
    text-decoration: none;
}

a:visited { 
    text-decoration: none; 
    color:black; 
}
a:active {
    text-decoration: none;
    color: black;
}

.beige-container {
    border-color: black;
    border-width: 0.3em;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-bottom: 7em;
}

.bio-container {
    display: inline;
    padding: 20px;
}

.image img {
    float: left;
    margin-left: 42em;
    width: 550px;
    height: 600px;
}

.text {
    float: right;
    margin-right: 12em;
    margin-top: -0.6em;
}

p {
    font-weight: 500;
    font-size: 130%;
    font-family: "Montserrat";
}