@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');

body {
    font-family: Bai Jamjuree;
    font-size: 18px;
    margin: 0;
}

body p {
    color: rgb(177, 177, 177);
    font-weight: 700;
}

.header {
    margin-top: -1em;
}

.header-text {
    margin-top: -15em;
    text-align: center;
}

.header-logo {
    margin-bottom: 3em;
}

.header-title {
    font-weight: bold;
}

.header-sub-text {
    color: grey;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 2em;
    padding: 0 20em 0 20em;
}

.header-download-buttons a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#ios {
    padding: 0.7em 1.6em 0.7em 1.6em;
    background-color: rgb(49, 201, 168);
    border-radius: 2em;
    margin-right: 0.5em;
}

#mac {
    padding: 0.7em 1.6em 0.7em 1.6em;
    background-color: rgb(88, 77, 238);
    border-radius: 2em;
    margin-left: 0.5em;
}

.snippets-container {
    margin-top: 10em;
    text-align: center;
}

.snippets-title {
    font-weight: bold;
}

.snippets-sub-text {
    color: grey;
}

.monitor-container {
    display: inline-flex;
    margin-top: 3em;
}

.monitor-image img{
    margin-left: -2.5em;
}

.monitor-text {
    margin-left: 4.5em;
}

.monitor-text ul {
    list-style-type: none;
}

.monitor-text ul li {
    margin-bottom: -1em;
}

.monitor-text ul li h2 {
    margin-bottom: -0.3em;
    font-weight: bold;
}

.monitor-text ul li p {
    line-height: 1.6em;
}

.monitor-text ul :first-child {
    margin-top: 2.5em;
}

.access-container {
    margin-top: 10em;
    text-align: center;
}

.access-title {
    font-weight: bold;
}

.access-sub-text {
    margin-bottom: 5em;
    padding: 0 17em 0 17em;
}

.supercharge-container {
    text-align: center;
}

.supercharge-upper-text {
    margin-bottom: 4em;
}

.supercharge-upper-text-title {
    font-weight: bold;
}

.supercharge-first-list ul {
    list-style-type: none;
    display: inline-flex;
}

.supercharge-first-list ul li {
    margin: 0 2em 0 2em;
}

.blacklist img {
    width: 9.5%;
}

.supercharge-first-list-title {
    font-weight: bold;
}

.supercharge-second-list {
    margin-top: 6em;
}

.supercharge-second-list ul {
    list-style-type: none;
    display: inline-flex;
}

.supercharge-second-list ul li {
    padding: 0 3.2em 0 3.2em;
}

.clipboard-container {
    text-align: center;
    margin-top: 7em;
}

.clipboard-container h2 {
    font-weight: bold;
}

.clipboard-container p {
    line-height: 1.5em;
    margin-bottom: 2em;
}

.clipboard-container a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}


.footer {
    height: 150px;
    width: 1439px;
    background-color: rgb(235, 235, 235);
    display: inline-flex;
    margin-top: 7em;
}

.footer-list {
    display: inline-flex;
    margin-top: 2em;
}

.footer-logo img {
    width: 50px;
    margin-top: 0.9em;
    margin-left: 7em;
}

.footer ul {
    list-style-type: none;
}

.utilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 0.1em;
}

.utilities li {
    padding: 0 2em 0 2em;
}

.utilities a {
    text-decoration: none;
    color: black;
}

.social {
    display: inline-flex;
    position: relative;
    left: 15em;
    margin-top: 1.5em;
}

.social li {
    padding: 0 1em 0 1em;
}


@media (max-width:500px) {

    .header img{
        width: 485px;
        height: 300px;
    }

    .header-text {
        margin-top: -10em;
        margin: -10em 2em 0 2em;
    }

    .header-sub-text {
        padding: 0;
    }

    .header-download-buttons a {
        font-size: 23px;
        display: inline-block;
    }

    #ios {
        margin-bottom: 1em;
        margin-left: 1em;
        padding-left: 4em;
        padding-right: 4em;
    }

    #mac {
        padding-left: 4em;
        padding-right: 4em;
    }

    .snippets-title {
        margin-top: 10em;
        padding: 0 2em 0 2em;
    }

    .snippets-sub-text {
        padding: 0 2em 0 2em;
        line-height: 1.5em;
    }

    .monitor-image img {
        width: 400px;
        margin-top: 3em;
        margin-left: 2.5em;
    }

    .monitor-container {
        display: inline;
    }

    .monitor-text {
        margin-left: -2em;
        text-align: center;
    }

    .access-sub-text {
        padding: 0 3em 0 3em;
        line-height: 1.7em;
    }

    .access-image img {
        width: 400px;
        margin-top: -2em;
        margin-bottom: 5em;
    }

    .supercharge-upper-text {
        padding: 0 5em 0 5em;
    }

    .supercharge-first-list ul {
        display: inline;
    }

    .supercharge-first-list ul li {
        padding-bottom: 3em;
    }

    .supercharge-first-list img {
        width: 13%;
    }

    .blacklist img {
        width: 15%;
    }

    .supercharge-second-list ul {
        display: inline;
    }

    .supercharge-second-list ul li {
        padding-bottom: 4em;
    }

    .clipboard-container {
        padding: 0 3em 0 3em;
    }

    .clipboard-container a {
        display: inline-block;
        margin-bottom: 4em;
    }

    .download-buttons a {
        font-size: 22px;
    }

    .footer {
        text-align: center;
        height: 560px;
        width: 485px;
    }

    .footer ul {
        margin-left: 3em;
    }

    .footer-logo img {
        margin-left: 1.5em;
        margin-bottom: 1em;
    }

    .footer-list {
        display: inline;
    }

    .utilities {
        display: inline;
    }

    .utilities li {
        margin-left: 1.5em;
        padding-bottom: 1.5em;
    }
    
    .social {
        left: -1.5em;
    }

    .social li {
        margin-bottom: 2em;
    }

}