@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700');



body {
    background-image: url(images/pattern-background-desktop.svg); 
    background-color: hsl(225, 100%, 94%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Red Hat Display";
}

.main-container {
    top: 8em;
    left: 43em;
    position: relative;
}

.blue-up {
    background-image: url(images/illustration-hero.svg);
    width: 450px;
    height: 220px;
    position: absolute;
    border-radius: 1em 1em 0 0;
}

.white-down {
    background-color: white;
    width: 450px;
    height: 450px;
    border-radius: 0 0 1em 1em;
    top: 13.75em;
    position: absolute;
}

.title-text {
    margin-top: 2.5em;
    margin-bottom: 2em;
}

.title-text h1 {
    text-align: center;
    font-size: 28px;
}

.title-text p {
    text-align: center;
    padding: 0 3em 0 3em;
    color: rgba(112, 108, 108, 0.685);
    line-height: 1.6em;
    font-weight: 600;
}

.plan {
    background-color: hsla(225, 100%, 94%, 0.616);
    height: 90px;
    width: 350px;
    position: absolute;
    left: 3em;
    border-radius: 0.5em;
}

.music-image {
    background-image: url(images/icon-music.svg);
    width: 48px;
    height: 48px;
    top: 1.3em;
    left: 1em;
    position: relative;
}

.left-text {
    font-size: 14px;
    position: absolute;
    left: 6em;
    top: 0.6em;
}

.title {
    margin-bottom: -0.5em;
    font-weight: 800;
}

.pricing {
    font-size: 16px;
    color: rgb(78, 77, 77);
    font-weight: 500;
}

.change-button {
    position: relative;
    left: 18.5em;
    bottom: 1em;
    font-weight: 600;
    font-size: 14px;
}

.change-button a {
    color: blue;
}

.payment-button {
    margin: 9.5em 0 1.7em 2.85em;
    border: none;
    border-radius: 0.5em;
    padding: 0.85em;
    background: blue;
    width: 330px;
    text-align: center;
}

.payment-button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.order-button {
    margin-left: 11.1em;
}

.order-button a{
    text-decoration: none;
    color: rgb(158, 155, 155);
    font-weight: 600;
    font-size: 14px;
}